.slider-content h4:before {
    left: -68px;
}
.hosting-button a {
    padding: 12px 61px;
}
.about-single-item.style_one {
    padding: 10px 30px 6px;
}
.about-single-item.style_one {
    padding: 10px 44px 6px 30px;
}
.feature_single-item.style_one {
    padding: 16px  99px 7px 30px;
}
.blog-content {
    padding: 40px 53px 22px 40px;
}
.proved-btn a {
    padding: 10px 43px; 
}
.why-choose-single-item {
    padding: 30px 115px 30px 30px;
}
.why-choose-icon {
    width: 110px;
}